.tophdr_name{position: absolute; top: 0; left: 0; width: 100%; background: #000000a4; padding: 15px; color:#fff; font-size: 16px; }
.tophdr_name h3{margin: 0;}
.topbg_cover{padding: 0!important; margin: 0 -15px; max-height: 230px; min-height: 230px; overflow: hidden;}
.primary_wrapper{min-height: 250px;}
.primary_wrapper_content{margin-top: -270px; position: relative;z-index: 1; padding: 40px 0 0 0;}
.page_profile{width: 60px; height: 60px;  background-color:#fff;background-size:cover;border:solid 3px #fff; -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2); box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2); }
.pg_name{font-size: 24px; color: #fff;}
.page_subheadline{font-size: 14px; color: #fff;}
.page_header_call2action{background: #fff !important; border: 0px solid transparent !important; color: #141A22 !important;}

.rating_icons{margin:20px 0 0 0; padding: 0; text-align: center;}
.rating_icons li{margin:0 8px; padding: 12px 0 0 0; list-style: none; display: inline-block; border: solid 1px #eceef7; border-radius: 50px; width: 60px; height: 60px; font-size: 24px; }
.rating_icons li:hover{ border: solid 1px #141A22; }
.thumb_like{ border: solid 1px #36C265; background: #36C265; color: #fff; }
.thumb_dislike{ border: solid 1px #e84e4e; background: #e84e4e; color: #fff; }
.send_rating_btn{background: #ff9614; color: #fff; font-size: 22px!important; padding: 10px 10px!important; margin:40px  -20px -20px -20px; width: calc(100% + 40px);}

.give_rating .rating_stars li{
    margin: 0 4px;
    padding: 0px ;

    width: 30px;
    height: 30px;
    font-size: 20px;
}